# Ignore version control
.git
.gitignore

# Ignore environment & config files
# .env
# .env.*
Homestead.json
Homestead.yaml

# Ignore development dependencies
# node_modules

# Ignore local caches and build artifacts
# /public/storage
/public/hot
/storage/*.key
/storage/pail
npm-debug.log
yarn-error.log
*.log
.DS_Store
