# version: "3.9"

services:

  db:
    image: mariadb:10.11
    ports:
      - "3306:3306"
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/mysql
      - ./db:/docker-entrypoint-initdb.d
    restart: unless-stopped
    networks:
      - frontend
      
  phpmyadmin:
    image: phpmyadmin:5
    restart: unless-stopped
    ports:
      - "8081:80"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - frontend

  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    volumes:
      - ./:/var/www/html:cached       # Bind mount for your app code
      - laravel_storage:/var/www/html/storage
      - laravel_cache:/var/www/html/bootstrap/cache
    restart: unless-stopped
    depends_on:
      - db
    networks:
      - frontend
    environment:
      - RECAPTCHA_SITE_KEY=6Lc7UOwrAAAAAAoKAEsF1Xzs_yqX8zBtU29JuGZW
      - RECAPTCHA_SECRET_KEY=6Lc7UOwrAAAAAEfSNgsq3vOdBpNlVphKDZgZhBON
    
  nginx:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - laravel_storage:/var/www/html/storage
      - laravel_cache:/var/www/html/bootstrap/cache
      - ./:/var/www/html:cached
    restart: unless-stopped
    depends_on:
      - app
    networks:
      - frontend

volumes:
  db_data:
  laravel_storage:
  laravel_cache:

networks:
  frontend:
    external: true
